<div>
    <img [src]="auto2.slika" class="img-fluid" alt="...">
</div>
<table>
<tr>
    <td>
        Id
    </td>
    <td>
        <input type="number" [(ngModel)] = "auto2.id">
    </td>
</tr>
<tr>
    <td>
        Brand
    </td>
    <td>
        <input type="text" [(ngModel)] = "auto2.marka">
    </td>
</tr>
<tr>
    <td>
        Model
    </td>
    <td>
        <input type="text" [(ngModel)] = "auto2.model">
    </td>
</tr>
<tr>
    <td>
        Snaga
    </td>
    <td>
        <input type="number" [(ngModel)] = "auto2.snaga">
    </td>
</tr>
<tr>
    <td>
        Gorivo
    </td>
    <td>
        <input type="text" [(ngModel)] = "auto2.gorivo">
    </td>
</tr>
<tr>
    <td>
        Mjenjac
    </td>
    <td>
        <input type="text" [(ngModel)] = "auto2.mjenjac">
    </td>
</tr>
<tr>
    <td>
        Godina
    </td>
    <td>
        <input type="number" [(ngModel)] = "auto2.godina">
    </td>
</tr>
<tr>
    <td>
       Cijena
    </td>
    <td>
        <input type="number" [(ngModel)] = "auto2.cijena"> 
    </td>
</tr>
<tr>
    <td>
        Kilometri
    </td>
    <td>
        <input type="number" [(ngModel)] = "auto2.kilometri">
    </td>
</tr>
<tr>
  <td>
     Detalji
  </td>
  <td>
      <input type="text" [(ngModel)] = "auto2.detalji">
  </td>
</tr>
</table>
     
<button type="button" class="btn btn-primary btn-sm me-md-2 " >Save</button>