
<!-- <table class="table" *ngIf="auta.length">
  <thead>
      <th>Id</th>
      <th>Marka</th>
      <th>Model</th>
  </thead>
  <tbody >
      <tr *ngFor = "let auto of auta">
         
              <td>{{auto.id}}</td>
              <td>{{auto.marka}}</td>
              <td>{{auto.model}}</td>

      </tr>
  </tbody>
</table> -->

<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button" [ngStyle]="{'background-color': bgColor1}" (click) = "rezervacijaB()">Ponuda vozila</button>
    <button class="btn btn-outline-success me-2" type="button" [ngStyle]="{'background-color': bgColor2}" (click) = "rezervisanoB()">Rezervisana auta</button>
  </form>
</nav>

<div *ngIf = "rezervacija">
  <app-rezervacija-auta [automobili] = "auta"></app-rezervacija-auta> 
</div>
<div *ngIf = "rezervisano">
  <app-rezervisana-auta [automobili] = "auta"></app-rezervisana-auta> 
</div>
