
<!-- <table class="table" *ngIf="auta.length">
  <thead>
      <th>Id</th>
      <th>Marka</th>
      <th>Model</th>
  </thead>
  <tbody >
      <tr *ngFor = "let auto of auta">
         
              <td>{{auto.id}}</td>
              <td>{{auto.marka}}</td>
              <td>{{auto.model}}</td>

      </tr>
  </tbody>
</table> -->
<div class="container-fluid">

  <div>
      <button type="button" class="btn btn-primary btn-lg" (click) = "rezervacijaB()">Auta za rezervaciju</button>
      <button type="button" class="btn btn-primary btn-lg" (click) = "rezervisanoB()">Rezervisana auta</button>

  </div>

<div *ngIf = "rezervacija">
  <app-rezervacija-auta [automobili] = "auta"></app-rezervacija-auta> 
</div>
<div *ngIf = "rezervisano">
  <app-rezervisana-auta [automobili] = "auta"></app-rezervisana-auta> 
</div>